<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a routerLink="/adminlistadmin/"> <img alt="image" src="assets/img/admin.png" class="header-logo" /> <span
            class="logo-name"></span>
        </a>
      </div>
      <ul class="sidebar-menu">
        <li class="menu-header">Main</li>
        <li class="dropdown active">
          <a routerLink="/adminlistadmin/" class="nav-link"><i data-feather="fa-user"></i><span>Acceuil</span></a>
        </li>



            <li><a class="btn-info" routerLink="/adminlistabsence/">Absences</a></li>
            <li><a class="btn-warning" routerLink="/adminlistadmin/">Administrateurs</a></li>
            <li><a class="btn-danger" routerLink="/adminlistavancementprojet/">Avancement Projets</a></li>
            <li><a class="btn-dark" routerLink="/adminlistavancementtache/">Avancement Taches</a></li>
            <li><a class="btn-success" routerLink="/adminlistchef/">List CHEF</a></li>
            <li><a class="btn-info" routerLink="/adminlistconge/">List Congés</a></li>
            <li><a class="btn-danger" routerLink="/adminlistemp/">Employés</a></li>
            <li><a class="btn-info" routerLink="/adminlistgroupe/">Groupes</a></li>
            <li><a class="btn-warning" routerLink="/adminlistmessage/">Messages</a></li>
            <li><a class="btn-info" routerLink="/adminlistenotif/">Notifications</a></li>
            <li><a class="btn-danger" routerLink="/adminlistpdg/">List PDG</a></li>
            <li><a class="btn-success" routerLink="/adminlistprojet/">List Projets</a></li>
            <li><a class="btn-info" routerLink="/adminlisttache/">List tâches</a></li>
            <li><a class="btn-danger" routerLink="/">Deconnexion</a></li>



        <li class="dropdown">
          <a routerLink="/" class="menu-toggle nav-link has-dropdown"><i
              data-feather="briefcase"></i><span>Deconnexion</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" routerLink="/adminlistabsence/">Mon profil</a></li>
            <li><a class="nav-link" routerLink="/">Deconnexion </a></li>
          </ul>
        </li>




      </ul>
    </aside>
  </div>