





<br><br><br>

<div class="parent container d-flex justify-content-center align-items-center h-100">
  <div class="child"> <!-- Your code goes inside this div/form --> 

<a  routerLink="/"><img alt="image" src="assets/img/image-64.png"></a>


  </div>
</div>


<br><br><br>




<div class="container">
    <h2>select account</h2>
    <table class="table">

      <tbody>
        <tr>
          <td><a class="nav-link" routerLink="/adminlogin/">Administrateur</a></td>
          <td><a class="nav-link" routerLink="/cheflogin/">CHEF</a></td>
          <td><a class="nav-link" routerLink="/pdglogin/">PDG</a></td>
          <td><a class="nav-link" routerLink="/emplogin/">Employee</a></td>
        </tr>

      </tbody>
    </table>
  </div>


















